@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-weight: 500;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #f2ebe3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 343px;
  background-color: #fff;
  border-radius: 10px;
}

picture img {
  border-radius: 10px 10px 0 0;
}

article {
  padding: 24px;
}

h1 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 12px;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1c232b;
  margin-bottom: 16px;
}

.description {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 24px;
}

.prices {
  width: 194px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.prices p:first-child {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3c8067;
}

.prices p:last-child {
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
}

button {
  width: 295px;
  height: 48px;
  background-color: #3c8067;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 92px;

  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 600px) {
  .modal {
    width: 600px;
    height: 450px;
    display: flex;
  }

  picture img {
    border-radius: 10px 0 0 10px;
  }

  article {
    width: 300px;
    padding: 32px;
  }

  .category {
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: 24px;
  }

  .description {
    margin-bottom: 29px;
  }

  .prices {
    margin-bottom: 30px;
  }

  button {
    width: 236px;
    border-radius: 8px;
    padding: 0 63px;
    cursor: pointer;
    transition: background-color 500ms ease;
  }

  button:hover {
    background-color: #1b4133;
  }
}
